.buttonCardMenu{
  color: rgb(18, 243, 18);
  background: rgba(255, 255, 255, 0.753);
  box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 50%;  
}
.buttonCardMenu:hover{
  background: rgba( 255, 255, 255 );
  box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
}


/* swipper boton */
.swiper-button-next, .swiper-button-prev{
  cursor: pointer;
  color: rgb(18, 243, 18) !important;
  background: rgba( 255, 255, 255, 0.5 ) !important;
  box-shadow: 3px 2px 10px 2px rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 50%;
  display: grid !important;
  place-content: center !important;
  transition: all .3s ease-in-out;
}


.swiper-button-next:hover, .swiper-button-prev:hover{
  background: rgba(0, 255, 85, 0.5) !important;
  color: rgba( 255, 255, 255, 0.5 ) !important;
  box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.37 ) !important;
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
}

